<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>Document</title>
</head>

<body>

    <div class="container">

        <div class="text">
            <ul id="mypage">
                <li> <a routerLink='/home' class="button1" routerLinkActive='active'>Home</a>
                </li>
                <li>.</li>
                <li> <a routerLink='/menu' class="button2" routerLinkActive='active'>Menu</a>
                </li>
            </ul>

        </div>
    </div>
    <router-outlet></router-outlet>

</body>

</html>